/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

.theme-menu__button:disabled::after {
  content: '▶';
  position: absolute;
  left: -20px;
  list-style-position: inside;
  font-size: 14px;
  line-height: 14px;
  opacity: 0.6;
  animation: theme-menu-pointer 0.5s ease-in-out infinite;
}

.like-icon {
  inline-size: 100%;
  transform: scale(1.25) translateY(3px);
}

.heart {
  transform-origin: 50% 50%;
}

.core {
  fill: transparent;
  transition: fill 0.3s 0.03s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.contour {
  fill: var(--main-color);
  transition: fill 0.1s linear;
}

.like-icon.is-liked .core {
  fill: var(--like-icon-active);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--like-icon-active);
  transition: fill 0.3s 0.05s linear;
}

.like-icon.is-liked .contour {
  fill: var(--like-icon-active);
  transition: fill 0.3s 0.06s linear;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks-come-out 0.3s 0.3s ease-in;
}

.card__icon-button:hover .like-icon:not(.is-liked) .core {
  fill: var(--main-color);
  transition: fill 0.3s linear;
}

.card__icon-button:hover .like-icon:not(.is-liked) .main-body {
  fill: var(--main-color);
  transition: fill 0.3s 0.05s linear;
}

.card__icon-button:active .like-icon:not(.is-liked) .core {
  fill: var(--like-icon-active);
  transition: fill 0.3s linear;
}

.card__icon-button:active .like-icon:not(.is-liked) .main-body {
  fill: var(--like-icon-active);
  transition: fill 0.3s 0.05s linear;
}

@keyframes theme-menu-pointer {

  from {
    left: -20px;
  }

  to {
    left: -16px;
  }
}

@keyframes heart-scale {

  from {
    transform: scale(1);
  }

  to {
    transform: scale(1.5);
  }
}

@keyframes sparks-come-out {

  from {
    display: none;
    fill: none;
  }

  to {
    display: block;
    fill: var(--like-icon-active);
  }
}
